.loginIcon{
  height: fit-content;
  width: 140px;
}
.space{
  letter-spacing: 0.2rem;
}
.footerIcon{
  display: flex;
  align-items: center;
  img{
    height: fit-content;
    width: 140px;
  }
  a{
    color: #FEF2F2;
    font-size:28px;
    padding-right: 20px;
  }
}
.footer{
  color: #FEF2F2;
  margin: 0 auto;
  background:#1E1E1E;
}
.center{
  margin: 0 auto;
}
.iconFont,.linked{
  color: #FEF2F2;
  text-decoration:none;
  &:hover{
    color:#1E1E1E;
  }
}
@media(max-width:992px){
  .center{
    display: flex;
    align-content: space-between;
    align-items: center;
  }
}
