.textspac{
  letter-spacing: .2rem;
}
.iconFont{
  font-family:serif;
  font-size: 1.25rem;
}
.textS{
  font-size: 10px;
  font-weight:bold;
  transform: translate(-50%, 0%);
}
.animated{
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(50px);
}
.fadeIn{
  opacity:1;
  transform: translateY(0);
}
.otherMeun{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    color:#FEF2F2;
    font-size:28px;
  }
}
.desktop{
  display:flex;
}
.mobile{
  display:none;
}
.header{
  transition: all 0.5s;
  &.colorNav{
    background-color:#1E1E1E;
  }
}

@media(max-width:992px){
  .desktop{
    display:none;
  }
  .mobile{
    display:flex;
  }
  .otherMeun a{
    color:#fff;
    font-size:28px;
    padding-left: 20px;
  }
  .main-panel{
    width: 100%;
    background: #1d1e22fa;
    color:#fff;
  }
  .offcanvas-body{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    a{
      font-family:serif;
      letter-spacing: .2rem;
      color: rgba(255, 255, 255, 0.55);
      text-decoration: none;
      padding: 20px;
    }
    a:hover{
      color:#fff;
      text-decoration: none;
      padding: 20px;
    }
    ul{
      font-size: 24px;
    }
  }
  .carousel-item img{
    height: calc(100vh);
    background-size: cover;
    width: auto;
  }
  .center{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
  }
  .title h2{
    width:100%;
    text-align: center;
  }
}
