
.imgProduct{
  aspect-ratio: 4 / 3;
  object-fit: contain;
  background: #efefef;
}
.textover{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.colorHeart{
  color:#000;
  font-size: 1rem;
  background-color: #fff;
  transition: 0.5s;
  border: 1px solid #212529;
}
.colorHeart:hover{
  color:#fb6aba;
  font-size: 1rem;
  background-color: #fff;
  border-color:#fff;

}
.colorCart{
  color:#000;
  font-size: 1rem;
  background-color: #fff;
  transition: 0.6s;
  border: 1px solid #212529;
}
.colorCart:hover{
  color:rgb(255, 238, 0);
  font-size: 1rem;
  border-color:#fff;
}
.product {
  position: relative;
}
.cart{
  min-height: 100vh;
}

.box{
  background-color:rgb(0, 0, 0);
  height: 74px;
}
.product a {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(0 0 0 / 11%);
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  top: 0;
}
.product a:hover {
  opacity: 1;
  transition: opacity 0.8s;
}
.proDetil {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.proTitle{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.proTitle span {
  font-size: 1rem;
}
.proBtn{
  display: flex;
}
.proBtn a,.proTitle h3 {
  font-size: 1.25rem;
}
.bg-mask-60{
  filter: brightness(60%);
}
.bgcolor{
  background: #2D2B1E;
  color:#FEF2F2;
}
.btnShop{
  color:#2D2B1E;
}
.btnShop:hover{
  color:#838288;
}
.productImg{
  width: 150px;
}
.listCategory{
  background-color: #FFF;
  color: #000;
  border-color: #0000003d;
  border-width: 0;
  padding: 1rem;
  text-align: right;
  font-size: 1.25rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  letter-spacing: .2rem;
}
.listCategoryActive{
  letter-spacing: .2rem;
  font-weight:bolder;
}
.listCategory:after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all .3s linear;
}
.listCategory:hover::after{
  width: 100%;
}
.listCategory:hover{
  font-weight:bolder;
  letter-spacing: .2rem;
}
.categoryList{
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: flex-end;
}
.productList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding-top: 2rem;
  letter-spacing: .2rem;
}
@media(max-width:768px){
  .categoryList{
    height: 20vh;
    justify-content: center;
  }
  .listCategory:hover::after{
  width: 100%;
}
  .listCategory{
    padding:1rem;
  }
  .writingMode{
    writing-mode: vertical-lr;
  }
}

