$screen-height:100vh;
.about{
  height: $screen-height;
}
.box{
  background-color:#0005;
  height: 74px;
}
.bgAbout{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: url('../../assets/img/bg_2.jpg') 80% no-repeat;
  background-size: cover;
  z-index: 0;
}
.aboutcontent{
  z-index: 1;
  letter-spacing: .2rem;
  h3{
    font-size: 4rem;
  }
}
@media(max-width:768px){
  .bgAbout{
    height: 60%;
  }
  .aboutcontent{
    position: absolute;
    right: 1rem;
    bottom: 0;
    max-width: 80vw;
    background-color: #fff;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -3px 30px -3px inset;
  }
  .aboutcontent h3{
    font-size: 2rem;
  }
}
