.breadcrumb-item a{
  text-decoration:none;
}
.textspace{
  white-space: pre-line;
  line-height:28px;
  letter-spacing: .2rem;
}
.pageBanner{
  height: 264px;
  background: url('https://images.unsplash.com/photo-1608321632050-4ad4a4a74ae5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
  background-size: cover;
  background-position: 50%;
  filter: blur(5px);
  transform: scale(1.1);
}
.pageBanner-text{
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  white-space: nowrap;
}
.colorHeart{
  color:#070707;
  font-size: 1.5rem;
  transition: 0.5s;
}
.colorHeart:hover{
  color:#fb6aba;
  font-size: 1.5rem;
}
.imgProduct{
  aspect-ratio: 4 / 3;
  object-fit: contain;
}
.textover{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product{
  cursor:pointer;
  transition: 0.5s;
}
.product:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.imgProduct {
  position: relative;
  overflow: hidden;
  img{
    aspect-ratio: 4 / 3;
    object-fit: contain;
    background: #efefef;
    transform:scale(1,1);
    transition: all 1s ease-out;
  }
  img:hover{
    transform:scale(1.2,1.2);
  }
}
.proTitle{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.bgr{
  background: red;
  color:#fff;
  font-size: 1.25rem;
  padding: 5px;
  z-index: 2;
}
.qtyProduct{
  max-width: 50%;
  float: right;
}
